   
        <div id="TopContainer">
            <div id="TopLeft">
                    <div id="MenuCon"><a href="/"><div id="MenuName"><center>Home</center></div></a></div>
                    <div id="MenuCon"><a href="support"><div id="MenuName"><center>FAQ / Support</center></div></a></div>
                    <div id="MenuCon"><a href="/shippinginfo"><div id="MenuName"><center>Shipping Info</center></div></a></div>
                    <div id="MenuCon"><a href="about"><div id="MenuName"><center>About Us</center></div></a></div>
                    
            </div>
            <div id="TopRight">
                <div id="CheckoutButton">
                    <div id="user_email">
                    <%= locals.userEmail %>
                </div>
                </div>
                
                    <a href="/cart">Cart <%= locals.cartItems  %> Items</a>
                
            </div>
        </div>
       