


<div class="footer">
    <div class="FooterContent">
       
        <div class="UseFullCon">
            <div class="FooterLinks">
                <a href="https://facebook.com"><i class="bi bi-facebook"></i><div class="Links">  Facebook</div></a>
                <a href="https://instragram.com"><i class="bi bi-instagram"></i><div class="Links">  Instragram</div></a>
                <a href="https://youtube.com"><i class="bi bi-youtube"></i><div class="Links">  YoutTube</div></a>
                <a href="https://linkedin.com"><i class="bi bi-linkedin"></i><div class="Links">  Linkd in</div></a>
        
            </div>	
            <div class="ContactInfoCon">
                <div class="FooterContact"><strong>Contact Info</strong>
                    <div class="ContactInfo">Sample_@sample.com</div>
                    <div class="ContactInfo"><i class="bi bi-telephone-fill"></i>
                        : 0927-352-XXX</div>
                    <div class="ContactInfo">National Hi-way, Sample Address</div>
                    
                </div>	
            </div>
        </div>
        <div class="FooterBrand">EASYSHOP</div>
        <div class="FooterCopyright"><i class="bi bi-c-circle"></i>EASYSHOP 2023</div>
    </div>
</div>

