<div class="LogoSearchCartCon">
    <div class="LogoSearchCartInnerCon">
        <div class="LogoImg"><img src="/image/logo2.png" alt=""></div>
        <div class="SearchCartBox">
         
          <div class="HomeIcoBox">

            <a href="/" class="HomeBut btn">
                <i class="bi bi-house-door-fill"></i>
            </a>
                                                                     
           </div> 
        
            <form class="SearchInputBox" action="/search" method="get">
                <input class="form-control SearchInput" name="q" placeholder="Search Product Here">
                <button type="submit" class="SearchBut">SEARCH</button>
            </form>
                <div class="ListBut">

                  <button type="button" class="CategBut btn btn-danger" data-bs-toggle="dropdown">
                    <i class="bi bi-list-ul"></i>
                  </button>
                      <div class="dropdown-menu DropdownCategory">
                        <% categories.forEach ( post =>{ %>
                          <a class="dropdown-item categoryMenu" href="../category/<%= post  %>"><%= post  %></a>
                        <% }) %>
                    </div>                                                                 
                                                                              
                   </div>
                <div class="SearchButIcoBox">

                  <button type="button" class="SearchButIco btn " data-bs-toggle="dropdown">
                         <i class="bi bi-search"></i>
                    </button>
                      <div class="dropdown-menu DropdownSearch">
                        <form class="SearchInputBox2" action="/search" method="get">
                          <input class="form-control SearchInput2" name="search"  placeholder="Search Product Here">
                          <button type="submit" class="SearchBut2" name="search">SEARCH</button>
                      </form>
                    </div>                                                                 
                                                                              
              </div>
              
              <div class="CartNotif">
                <a href="/cart">

                  <button type="submit" class="CartNotifBut"><i class="bi bi-cart-fill"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>