
    <div>
        <div class="cart_item_container d-flex flex-column gap-3">
            <div class="row border-bottom">
                <div class="col-5"> <p class="h5">Item</p></div>
                <div class="col"><p class="h5">Price</p></div>
                <div class="col"><p class="h5">Quantity</p></div>
                <div class="col"><p class="h5">Total</p></div>
                
            </div>

            <form action="/cart/checkout" method="post">
                <div id="cartContainer"></div>
                <h3 id="total"></h3>
                <input type="submit" value="checkout">
            </form>
    </div>
    </div>
    <script src="/js/cart.js" type="module"></script>
