
        <div id="LogoContainer">
            <div id="LogoImg"><b>EASYSHOP</b></div>
            <div id="LogoDetails"></div>
            <div id="SearchBox">
                <form action="/search" method="POST">
                    <input class="form-control" name="search" id="SearchBoxIns" placeholder="Search Product Here">
                    <button type="submit" id="SubmitBut" name="search">SEARCH</button>
                </form>
            </div>
        </div>
        <div id="NavBar" class=" box effect7">
            <div class="NavMenu">
                <a class="NavMenuLink" href="/products">
                    <div id="NavMenuName">
                        <center>PRODUCTS</center>
                    </div>
                </a>
            </div>
            <div class="NavMenu"><a class="NavMenuLink" href="#ContentContainer"><div class="NavMenuName"><center>FEATURED PRODUCTS</center></div></a></div>
            <div class="NavMenu">
                    <button type="button" class=" CategBut dropdown-toggle" data-bs-toggle="dropdown">
                      CATEGORIES
                    </button>
                      <div class="dropdown-menu DropdownCategory">
                        <% categories.forEach ( post =>{ %>
                          <a class="dropdown-item categoryMenu" href="./<%= post  %>"><%= post  %></a>
                        <% }) %>
                    </div>
                      
            </div>
  
  
            <div class="NavMenu"><a class="NavMenuLink" href="/signup"><div class="NavMenuName"><center>REGISTER ACCOUNT</center></div></a></div>
            <div class="NavMenu"><a class="NavMenuLink" href="/login"><div class="NavMenuName"><center>LOG IN HERE!</center></div></a></div>
        </div>
        
       
        <div id="ContentContainer">
            <div class="TitleCon"><%= category %> PRODUCTS</div>
            <div id="CartContainer">
                <% products.forEach ( post =>{ %>
                    <%- include('components/product', {product: post}) %>		
                <% }); %>
                    
            </div>
        
        </div>
       
  