<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<link rel="stylesheet" type="text/css" href="styles/index.css"> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>EasyShop</title>
</head>
<body>
    
    <div style="display: flex; gap: 10px; margin: 1rem;">
        <div style="background-color: aqua; width: 25%;">
            <img src="https://m.media-amazon.com/images/I/91XmV1nGYfL._AC_SY355_.jpg" alt="product-image">
        </div>
        <div style="width: 55%; padding: 1rem;">
            <div style="margin: 0px 1rem; display: flex; flex-direction: column; gap: 5px;">
                <h5>Oxford Filler Paper, 8-1/2" x 11", College Rule, 3-Hole Punched, Loose-Leaf Paper for 3-Ring Binders, 500 Sheets Per Pack (62349),White</h5>
                <div>
                    
                    <p style="margin: 0px;">Rating: 4.9 </p>
                    <p style="margin: 0px;">Stocks: 100 </p>
                    <p style="margin: 0px;">Brand: Appple</p>
                    
                    
                </div>
                <div style="border: 1px solid lightblue;"></div>
                <div>
                    An apple mobile which is nothing like apple
                </div>
            </div>
        </div>

        <div style="width: 20%; padding: 1rem; border: 1px solid lightgray;" >
            <div style="display: flex; gap: 7px;">
                <p>&#8369; </p> 
                <h2 style="margin: 0px;">100</h2>
                <p style="margin: 0px;"><sup>12% discount</sup></p>
            </div>
            <h4 style="color: #007600; text-align: start;">In Stock</h4>
            <label for="quantity">Quantity (between 1 and 5):</label>
            <input type="number" value="1" id="quantity" name="quantity" min="1" max="5">
            
            <p style="font-size: small;">Delivery Address: <i>Zone-9, Sihayon, Santa Cruz, Tagoloan, Misamis Oriental 9001</i></p>
            <button class="btn btn-outline-success">Add Cart</button>


        </div>

    </div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>