

<div class="LoginCon">
    <div class="LoginLeftCon">
        qwse
    </div>
    <div class="LoginFormCon">
        <div class="LoginTitle">
            <h4>SIGN UP ACCOUNT</h4>
        </div>
        <form action="/signup" method="POST">
            <div class="form-outline mb-4">
                <label for="FirstName" class="form-label">First Name:</label>
                <input type="text" name="FirstName" id="FirstName" class="form-control"
                  placeholder="Enter First Name" required />
               
              </div>
              
              <div class="form-outline mb-4">
                    <label for="LastName" class="form-label">Last Name:</label>
                    <input type="text" name="LastName" id="LastName" class="form-control"
                    placeholder="Enter Last Name" required />
                 
                </div>


                <div class="form-outline mb-4">
                  <label for="Email" class="form-label">Email:</label>
                  <input type="Email" name="Email" id="Email" class="form-control"
                    placeholder="Enter Email" required/>
                 
                </div>

              <div class="form-outline mb-4">
                <label for="Password" class="form-label">Password:</label>
                <input type="password" name="password" id="Password" class="form-control" placeholder="Enter Password" required/>
               
              </div>
              <div class="form-outline mb-4">
                <label for="CanfirmPass" class="form-label">Confirm Password:</label>
                <input type="password" id="ConfirmPass" class="form-control" placeholder="Repeat Password" required/>
              </div>

              <div class="text-center pt-1 mb-5 pb-1">
                <button class="col-sm-12 btn btn-primary btn-block fa-lg gradient-custom-2 mb-2" type="submit">SIGN UP</button>
              
              </div>
        </form>
    </div>


</div>