.ProductDetailsCon{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.ProductInnerCon{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 100px;
}

.ProductDetailsCarouselCon{
    margin-right: 60px;
    width: 100%;
    max-width: 450px;
}
.ViewImgArrow{
    color: lightgray;
    font-size: 30px;
    font-weight: bold;
}
.ProductInfoBox{
    border: 1px solid lightgray;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
                rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.ProductImageCon{
    width: 100%;
}
.ProductImageCon img{
    width: 100%;
    min-height: 350px;
}
.QuantityInput{
    text-align: center;
    margin-left: 15px;
}
.DetailsPrice{
    margin-top: 10px !important;
}

.DetailsPrice i{
    color: var(--red);
    font-weight: bold;
    margin-left: 10px;
}
.DetailsAddCartBut{
    background-color: var(--red);
    color: white;
    border-radius: 0;
    width: 100%;
    align-self: center;
    margin-top:20px;
}   
.DetailsBuyBut{
    width: 100%;
    border-radius: 0;
    align-self: center;
    background-color: #F4D35E; 
}
.DetailsAddCartBut:hover{
    background-color: var(--red);
    color: white;
    scale: 0.98 ;
}
.DetailsBuyBut:hover{
    background-color: #F4D35E; 
    scale: 0.98 ;
}
.DetailsButtonsCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media only screen and (max-width: 1000px) {

    .ProductInnerCon{
        flex-direction: column;
        
        margin-top: 60px;
    }
    
    .ProductDetailsCarouselCon{
        margin-right: 0;
    }
    .ProductInfoBox, .ProductDetailsCarouselCon{
        align-self: center;
    }
}
@media only screen and (max-width: 700px) {
    .ProductDetailsCon{
        width: 100%;
    }
    .ProductInnerCon{
        margin-top: 60px;
        width: 100%;
        
    }
    
    
}
@media only screen and (max-width: 450px) {

    .ProductInnerCon{
        margin-top: 15px;
        width: 100%;
        
    }
    
    
}